@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --mainColor :black;
    --white :#fff;
}

*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    list-style: none;
    border: none;
    outline: none;
    transition: all .2s cubic-bezier(.57,.21,.69,1.25);
    box-sizing : border-box;
    text-decoration: none;
}
*::selection{
background-color: var(--mainColor);
color: white;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

.heading{
    padding-top: 3rem;
    width: 50%;
    border-bottom: .2rem solid var(--mainColor);
    margin: 0 auto;
    text-align: center;
}
.heading span{
    font-size: 5rem;
    text-shadow: 0 .5rem 1rem rgba(0, 0, 0, .3);
}
    .heading:hover span{
       letter-spacing: 2rem;
    }
.btn{
    height: 4rem;
    width: 14rem;
    background-color: var(--mainColor);
    color: var(--white);
    font-size: 2rem;
    cursor: pointer;
}

.btn{
    height: 4rem;
    width: 14rem;
    background-color: var(--mainColor);
    color: var(--white);
    font-size: 2rem;
    cursor: pointer;
}
.btn:hover{
letter-spacing: .2rem;}

/* header start*/
header .header,header .header-two{
display: flex;
align-items: center;
justify-content: space-between;
padding: 1.5rem;
z-index: 1000;
width: 100%;
}
header .header .logo{
    font-size: 2rem;
    color:#666;
}
header .header .logo i{
color: var(--mainColor);
}

header .header .container form{
  display: flex;
    }
    header .header .container form  .search-box{
        background-color: var(--mainColor);
        border-radius: 4rem;
        padding: 1rem;
        transition: .3s ease-in-out;
    }
   
    header .header .container form  .search-btn{
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        color: #e84118;
       float: right;
       background-color: var(--mainColor);
       display: flex;
       justify-content: center;
       align-items: center;
       }
       header .header .container form   .search-txt{
           border: none;
           outline: none;
           background: none;
           float: left;
           padding: 0;
           color: white;
           font-size: 1.6rem;
           line-height: 4rem;
           width: 0;
           
       }
       header .header .container form   .search-box i{
           font-size: 2rem;   }
           
   
           header .header .container form    .search-box:hover .search-txt{
   width: 50rem;    }
   
   header .header .container form #search{
        height: 4rem;
        width: 50rem;
        outline: none;
        border: .2rem solid #666;
        font-size: 1.5rem;
        padding: 0 1rem;
          }
          header .header .container form #search:focus{

            border-color: var(--mainColor);        
              }
    
          header .header .container form label{
            height: 4rem;
            width: 5rem;
            text-align: center;
            line-height: 4rem;
            font-size: 2rem;
            cursor: pointer;
            background-color: var(--mainColor);
            color: white;        
        }
        header .header .container form label:hover{
            color: var(--white);
                }
                header .header-two{
                    background-color: var(--mainColor);
                }
                    
                header .header-two .nav ul{
                    list-style: none; 
                    display: flex;     
                    align-items: center;
                    gap: 1rem;          
                    justify-content: space-between;
                        }
                        header .header-two .nav ul li{
                            margin: 0 1rem;
                        }
        
                        header .header-two .nav ul li a{
                           font-size: 2rem;
                           color: white;
                           font-weight: 500;
                        }
        
                        header .header-two .nav ul li a:hover,header .header-two .nav ul li a.active{
                            font-size: 2rem;
                            color: red;
                         }
 
                         header .header-two .icons a{
                             color: white;
                             font-size: 2rem;
                             padding: 0 1rem;
                         }
                          header .header-two .icons a:active, header .header-two .icons a.active{
                            color: red;
                        }


                         header .header-two .icons a:hover,header .header-two .icons a.active{
                            color:rgba(0, 0, 0,rgba(0, 0, 0, .3));
                        }


                        header .header-two #menu{
                            margin: 0;
                        padding: 0;
                        font-size: 3rem;
                        color: white;
                        cursor: pointer;
                        display: none;
                        }
                        header .header-two.header-active{
                            position: fixed;
                            top: 0;
                            left: 0;
                            box-shadow: 0 .3rem .5rem rgba(0, 0, 0,rgba(0, 0, 0, .3));
                        }

 /* header end*/



 /*home start*/

 .home .home-slider .item{
    position: relative;

 }

 .home .home-slider  .item img{
  height: 100vh;
object-fit: cover;
width: 100%;
 }

 .home .home-slider  .item .content{
     position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
}
  
.home .home-slider  .item .content h3{
  color: var(--white);
  text-shadow: 0 .5rem 1rem black;
  font-size: 5rem;
  text-transform: uppercase;
}

.home .home-slider  .item .content p{
    color: white;
    text-shadow: 0 .5rem 1rem black;
    font-size: 2.5rem;
    padding: 2rem 0;
    width: 50rem;
    text-transform: lowercase;
    font-weight: 600;
  }
  
 /*home end*/




/*new arrival start*/
.arrival{
    min-height: 100vh;
}

.arrival .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
    width: 85%;
    margin: 0 auto;
}
.arrival .box-container .box{
    flex: 1 1 30rem;
    border: .1rem solid rgba(0, 0, 0, .3);
    margin: 1rem 2rem;
    overflow: hidden;
    position: relative;

}
.arrival .box-container .box .image{

    height: 20rem;
    padding: 2rem;
    text-align: center;
    background-color: #f0f0f0;
}
.arrival .box-container .box .image{

    height: 20rem;
    padding: 2rem;
    text-align: center;
    background-color: #f0f0f0;
}
.arrival .box-container .box .image img{

    width: 100%;
    object-fit: cover;
}
.arrival .box-container .box .content h3{
    font-size: 2rem;
    color: var(--mainColor);
    padding: 1rem;
}
.arrival .box-container .box .content .info{
display: flex;
justify-content: center;
align-items: center;
padding: 1rem;
border-top: .1rem solid rgba(0, 0, 0, .3);

}
.arrival .box-container .box .content .info .price{
font-size: 2.5rem;
color: rgb(24, 152, 175);    
box-shadow: 0 .2rem .5rem rgba(0, 0, 0, .3);
    }
    .arrival .box-container .box .content .info .price span{
        text-decoration: line-through;
        font-size: 1.7rem;
        color: var(--mainColor);
    }
    .arrival .box-container .box .content .info .stars {
        margin-left: 7rem;
        }

    .arrival .box-container .box .content .info .stars i{
        color:  rgb(243, 175, 28);
        font-size: 1.5rem;
     
        }
        .arrival .box-container .box .overlay{
       position: absolute;
       top: 0;
       left: 0;
       height: 30rem;
       width: 100%;
       background-color: rgba(0, 0, 0, .3);
       display: flex;
       justify-content: center;
        align-items: center;
        display:none;
        transform: scale(0);
         
            }
            .arrival .box-container .box .overlay a{

                    font-size: 3rem;
                 
                    margin-left:1rem;
                    cursor:pointer;
                    padding: 1.5rem 2rem;
                    background-color: #fff;
                    color: #666;
                    transform: translateY(-10rem);

                    transition-delay: calc(.1s * var(--i));
                     }
                     .arrival .box-container .box .overlay a:hover{
                        color: red;                         }
    
                     .arrival .box-container .box:hover .overlay a{
                           
                            transform: translateY(0rem);

                        }
    
                     .arrival .box-container .box:hover .overlay {
                        transform: scale(1);
                        display: block;                        
                            }
             
    
/*new arrival end*/














/*feature start*/

.feature{
    min-height:100vh ;
    padding-bottom: 2rem;
}
.feature .row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 0;
    margin: 3rem auto;
    width: 95%;
    background: white;
  /*  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .3);*/
    border-radius: 1rem;
}
.feature .row .image-container{
    display: flex;
    align-items: center;
}
.feature .row .image-container .big-image img{
    height: 50rem;
    margin: 2rem 0;
    border-radius: 1rem;
    width: 50rem;
    object-fit: contain;

}
.feature .row .image-container .small-image {
    display: flex;
    justify-content: center;
    flex-flow: column wrap;

}
.feature .row .image-container .small-img img{

    height: 10rem;
    padding: 1rem;
    margin: 1rem;
    border: .1rem solid rgba(0, 0, 0, .3);
    cursor: pointer;
}

.feature .row .image-container .small-img img:hover{

    transform: scale(1.1);
}
.feature .row .image-container .small-img img.active{
    
    border: .2rem solid var(--mainColor);
}
.feature .row .content{
    
    padding: 6rem;
}
.feature .row .content h3{
    color: var(--mainColor);
    font-size: 4rem;
}
.feature .row .content .stars i{
    color: rgb(243, 175, 28);
    font-size: 2rem;
    padding: 1rem 0;
}
.feature .row .content .stars span{
    color: #666;
    font-size: 2rem;
    padding: 1rem 0;
}
.feature .row .content p{
    color: #333;
    font-weight: 800;
    font-size: 1.5rem;
    padding: 1rem 0;

}
.feature .row .content .price{
    color: rgb(36, 113, 228);
    font-size: 2.5rem;
    padding: 1rem 0;
}
.feature .row .content .price span{
    color: #666;
    font-size: 2rem;

text-decoration: line-through;}

/*feature end*/











/*gallery start*/

.gallery{
    min-height: 100vh;
}

.gallery .controls{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1.5rem 0;
    list-style: none;

}
.gallery .controls .btn{
    line-height: 4rem;
    margin: 2rem;
    text-align: center;
    box-shadow: 0 .3rem .5rem rgba(0, 0, 0, .3);
}
.gallery .controls .btn.active{
    opacity: .5;
    cursor: no-drop;

}
.gallery .image-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;


}
.gallery .image-container .box{
    display: flex;
    align-items: center;
    justify-content: center;
   margin: 2rem;
    border: .1rem solid rgba(0, 0, 0, .3);
    flex: 1 1 30rem;


}
.gallery .image-container .box .image{
    height: 12rem;
    width: 20rem;
    text-align: center;
    padding: 1rem;
    background: #f0f0f0;
}
.gallery .image-container .box .image img{
    height: 100%;
    object-fit: cover;
}

.gallery .image-container .box:hover .image img{
background: #ccc;

}
.gallery .image-container .box .info{
    width: 100%;
    
    }
    .gallery .image-container .box .info h3{
        font-size: 2rem;
        color: var(--mainColor);
        padding: 1rem;
        
        }
        .gallery .image-container .box .info .subInfo{
            display: flex;
            align-items: center;
            justify-content: space-between;
                    border: .1rem solid rgba(0, 0, 0, .3);
                    padding: 1rem;
            }
            .gallery .image-container .box .info .price{
                font-size: 2rem;
                color: rgb(36, 113, 228);
            }
            .gallery .image-container .box .info .stars  i{
                font-size: 1.5rem;
                color: rgb(243, 175, 28);
            }
    

/*gallery end*/




/*deal start*/

.deal{
    min-height: 100vh;

}
.deal .box-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}
.deal .box-container .box{
    flex: 1 1 60rem;
    height: 30rem;
    margin: 2rem;
    border-radius: 1rem;
    overflow: hidden;
    position: relative;
    box-shadow: 0 .3rem  .5rem rgba(0, 0, 0, .3);
}

.deal .box-container .box img{
    width: 100%;
    object-fit: cover;
    height: 100%;
}
.deal .box-container .box:hover img{
    transform: scale(1.1);
}

.deal .box-container .box .content{
position: absolute;
top: 55%;left: 3rem;
transform: rotateY(-50%);
}
.deal .box-container .box .content h3{
font-size: 4rem; 
color: white;
text-shadow: 0 .3rem .5rem rgba(0, 0, 0, .3);
}
.deal .box-container .box .content p{
    font-size: 2rem; 
    color: white;
    }
    .deal .box-container .box .content .btn{
        margin: 1.4rem 0;
        }


        .deal .box-container .icons-container{
          padding: 1rem;
          display: flex;
          align-items: center;
          justify-content: space-between;
          flex-wrap: wrap;
            }
            .deal .box-container .icons-container .icons{
                width:95vw;
                flex:1 1 40rem;
                padding: 1rem;
                margin: 1rem;
                text-align: center;
                border: .2rem solid var(--mainColor);
                border-radius: 50rem;
                              }
                      .deal .box-container .icons-container .icons i{
                        padding: 1rem 0;
                        font-size: 4rem;      
                        color: rgb(36, 113, 228);        

                            }
                            .deal .box-container .icons-container .icons h3{
                                    color: #333;     
                                    font-size: 2rem;   
                                                 }
                                     .deal .box-container .icons-container .icons h3{
                                       color: #666;     
                                                    font-size: 1.3rem;   
                                                    padding: 1rem 0;
                                                                 }
                          
                
                
      
/*deal end*/  








/*connect start*/

.connect{
    background: url('../img/connect1.jpg') no-repeat;
    background-position: center;
    background-blend-mode: multiply;
    background-size: cover;
    background-attachment: fixed;
    padding: 5rem 1rem;
    text-align: center;
}
.connect h1{
color: white;
font-size: 5rem;
padding: 1rem 0;
text-shadow: 0 .3rem .5rem rgba(0, 0, 0, .3);
}
.connect p{
    color: white;
    font-size: 2rem;
    padding: 1rem 0;
    }
    .connect form{

        height: 5.5rem;
        max-width: 60rem;
        margin: 0 auto;
        padding:  0 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        border-radius: 5rem;
        background: rgba(0, 0, 0, .3);
    }
    .connect form input[type=email]{
        height: 100%;
        width: 50%;
        padding: 0 1rem;
        outline: none;
        border: none;
        background: none;
        font-size: 2rem;
        color: white;
    }
    .connect form input[type=submit]{
        position: relative;
        right: -16rem;
        border-radius: 5rem;
    }

/*connect end*/


/*scrollTop start*/
.scroll-top{
    position: fixed;
    bottom: 5rem;
    right: 3rem;
    z-index: 600;
    cursor: pointer;
    display: none;
}

.scroll-top i{
    font-size: 5rem;
    background-color: var(--mainColor);
    color:var(--white);
    text-align: center;

}

/*scrollTop start*/



/*   <!--footer section start-->*/
.footer{
    background-color: rgb(36, 113, 228);;
    color: white;
    }
    
.footer .box-container{
   display: flex;
   flex-wrap: wrap;
   gap: 2rem;
   text-align: center;
    }
    
    .footer .box-container .box{
      flex: 2 1 30rem;

      padding: 1rem 0;
        }
        .footer .box-container .box img{
height: 8rem;width: 8rem;              }
      
       .footer .box-container .box h3{
           font-size: 3rem;
           padding: .7rem 0;
           color: white;
              }
              .footer .box-container .box p{
                font-size: 1.5rem;
                padding: .7rem 0;
                color: white;
     
                   }
                  .footer .box-container .box a{
                    display: block;
                    color: white;
                    font-size: 1.8rem;
                       }
                       .footer .box-container .box a:hover{
                        color: var(--mainColor);
                        text-decoration: underline;
                           }
.footer .footer-written{
    font-size: 2rem;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 1.4rem 0;
    border-top: .1rem solid rgba(0, 0, 0, .3);
    color: white;
    background-color: rgba(0, 0, 0, .3);
}
.footer-written span{
    color: var(--mainColor);
    font-size: 3rem;
}

/*   <!--footer section end-->*/























  /* media start*/
  @media (max-width :768PX) {
      html{
          font-size: 55%;
      }

      header .header .container form #search{
        
        width: 100%;
          }



          header .header-two #menu{
        display: block;
        }

        header .header-two .nav{
           position: fixed;
           left: 50%;
           top: -150%;
           transform: translate(-50%,-50%);
           z-index: 1000;
           box-shadow: 0 0 0 100vh rgba(0, 0, 0,0.3);
        }
            header .header-two .nav ul{
               flex-flow: column;
               background-color: var(--mainColor);
               border: .2rem solid white;
                box-shadow: 0 .3rem .5rem rgba(0, 0, 0,0.8);
                padding: 4rem 0;
                width: 100vw;
            }
            header .header-two .nav ul li{
                width: 100%;
                margin: .5rem 0;
                text-align: center;
            }
            header .header-two .nav ul li{
        font-size: 3rem;;  
        display: block;   
      }

     .fa-times{
         transform: rotate(180deg);
     }

     header .header-two .nav-toggle{
        top: 50%;
    }


    .connect form input[type=submit]{
        position: relative;
        right: 6rem;
        border-radius: 5rem;
    }


                 }


                 @media (max-width :600PX) {
                    html{
                        font-size: 50%;
                    }
                    .home .home-slider  .item .content h3{
                        font-size: 3rem;
                    }
                 .home .home-slider  .item .content p{
                        width: auto;
                        font-size: 2rem;
                    }

                    .feature .row .image-container{
                        flex-flow: column wrap;
                    }
                    .feature .row .image-container .small-image{
                        flex-flow: row wrap;
                        padding-bottom: 2rem;
                    }
                    .feature .row .content{
                        padding: 2rem;
                        border: .1rem solid rgba(0, 0, 0, .3);
                    }
                    .feature .row .content p{
                        width: auto;
                                        }
                     .feature .row .content .btn{
                          margin: 2rem 0;
                                          }
                    

                }
                      

  @media (max-width :400PX) {

    header .header{
        flex-flow: column;
        padding: 1rem;

        }
        header .header .logo{
            
            padding: 1.5rem;
    
            }
    
}

 /* media end*/




   